:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: --font-size(1);
  line-height: 24px;
  font-weight: 400;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #573393;
  --bg-color: #0C0C0C;
}

@function --font-size(--size) {
  result: calc(14px + var(--size) * 2px);
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding: 2vh 2vw 20vh 2vw;
}

.post-card {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 600px;
  background-color: color-mix(in srgb, var(--bg-color), var(--main-color) 20%);
  border-radius: 20px;
  corner-shape: squircle;
  box-shadow: 0 0 30px black;
}

.post-content {
  padding: 0 16px 0 16px;
  color: color-mix(in srgb, var(--main-color), white 40%);
}

.post-content h3 {
  margin-top: 5px;
}

.post-card:hover {
  transition-duration: 500ms;
  transform: scale(1.02);
}

.banniere {
  width: 100%;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
  corner-shape: squircle;
}

.image-container {
  position: relative;
}

.auteurs-image {
  position: absolute;
  top: 16px;
  left: 16px;
  color: color-mix(in srgb, var(--main-color), white 70%);
  z-index: 2;
  margin: 0;
}

.auteurs {
  font-size: --font-size(0);
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, transparent 50%);
  border-radius: 20px 20px 0 0;
  corner-shape: squircle;
  pointer-events: none;
}

.tags {
  text-align: right;
}

.tag {
  font-size: --font-size(0);
  color: color-mix(in srgb, var(--main-color), black 30%);
}
